@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general paddings margins and text */
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/* heading section */

header {
    margin: 0;
}

.titan-barbers-heading {
    background-color: #3f3937;
    min-height: 160px;
}

.titan-barbers-heading a {
    text-decoration: none;

}

.titan-barbers-title h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    font-size: 40px;
    color: #c1b4a8;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

/* Nav */

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #c1b4a8;
    font-size: 20px;

}

.navbar-dark .navbar-nav .active>.nav-link.nav-link {
    color: #7D899F;
    font-weight: 600;
}

.navbar-toggler {
    border: 3px solid #c1b4a8;
}

.navbar-dark .navbar-toggler {
    border-color: #c1b4a8;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(125, 137, 159, .70);
}

/*  Book Now Section */

.image-container{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.book-now-image { 
    height: 100vh;

    background: url('../images/shop-floor.jpg');
    
    background-color: #8C776A;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* button https://www.w3schools.com/howto/howto_css_button_on_image.asp */

.book-now .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3F3937;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #c1b4a8;
    font-size: 20px;
    padding: 24px 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .book-now .btn:hover {
    background-color: #7D899F;
    color: #3f3937;
  }

/* Opening and pricing Section */

.opening-prices {
    background-color: #8C776A;
    min-height: 400px;
}

.margin-left-row {
    margin-left: -90px;
}

.table-dark {
    background-color: #3F3937;
    font-family: 'Poppins', sans-serif;
    color: #c1b4a8;
    border-radius: 10px;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #8C776A;
}

.opening {
    padding-top: 80px;
    padding-bottom: 30px;
}

.opening h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3F3937;
    font-size: 40px;
}

.prices {
    padding-top: 80px;
    padding-bottom: 30px;
}

.prices h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3F3937;
    font-size: 40px;
}

/* About Us */

.about-image { 
    height: 100vh;

    background: url('../images/about-us.jpg');
    
    background-color: #8C776A;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .about-us {
        background-color: rgba(125, 137, 159, 0.6);
        color: #2b2422;
    }

    .about-us h2{
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        font-weight: 400;
    }

    .about-us p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

/* Contact page */


.contact-page {
   
    
}
/* Contact Heading Section */

.contact-heading {
    width: 100%;
    height: 150px;

    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #8C776A;

    bottom: auto;
    right: auto;
}


.contact-heading h2{
    font-family: 'Lato', sans-serif;
    color: #3f3937;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Call Us Section */

.call-us {
    width: 100%;
    height: 150px;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #8C776A;

    bottom: auto;
    right: auto;
}

.call-us h3 {
    font-family: 'Lato', sans-serif;
    color: #3f3937;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Address Section */

.contact-address {
    width: 100%;
    height: 150px;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #8C776A;

    bottom: auto;
    right: auto;

}

.contact-address h3 {
    font-family: 'Lato', sans-serif;
    color: #3f3937;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 200px;

}

.contact-address-text{
    list-style: none;
    margin-left: 160px;
}

.contact-address-text li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3f3937;
}

/* footer */

footer {
    background-color: #3f3937;
    min-height: 100px;
}

.barbers-footer h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #c1b4a8;
    font-size: 15px;
    margin-left: 40px;
}

.barbers-address {
    list-style: none;
}

.barbers-address li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #7D899F;
}

.barbers-social li {
    font-weight: 400;
    color: #7D899F;
    font-size: 60px;
}

.barbers-social li a {
    font-weight: 400;
    color: #7D899F;
    font-size: 60px;
}